<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<%= form_with url: url_for(only_path: false), method: :get do |form| %>
  Form contents
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>

<ul>
  <% @tag.filtered_messages(params[:query]).each do |message| %>
    <li><%= message.text %></li>
  <% end %>
</ul>

<%= link_to 'Back', tags_path %>
